<style>
.carousel-content {
    color:black;
    display:flex;
    align-items:top;
    justify-content:center;
    height: 600px;
}
</style>
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600italic' rel='stylesheet' type='text/css'>
<%= link_to 'Add a Quote', new_jerryism_path, {:class=> "btn-lg btn-primary", :style=> "position:absolute; top:30px; right:30px; font-family: 'Josefin Slab', serif;font-style:italic;"} %>
<iframe width="20%" height="50" scrolling="no" frameborder="no" style="position:absolute; bottom:0px; right:0px" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/133715911&amp;auto_play=true&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
<div id= "carousel-container" style="width:650px; height:600px;position:absolute; top:100px;">
<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="row">
        <div style="padding-left:75px; padding-right:75px">
            <div class="carousel-inner">
	        <% @jerryisms.each do |jerryism,list_pos|%>
		    <div class="item">
                        <div class="carousel-content">
                            <h2 class="text-center" style="font-family: 'Josefin Slab', serif;font-style:italic; font-size:40px"><%= jerryism.text %> </h2>
			</div>
                    </div>
		<% end %>
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#carousel" data-slide="prev" style="width:8%; background-image:none; margin-top:-200px">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel" data-slide="next" style="width:8%; background-image:none; margin-top:-200px">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
</div>


<script>
 $(document).ready(function() {
    $('#carousel .carousel-inner > .item:first').addClass('active');
    $('.notice').delay(3000).fadeOut();
 });
</script>

